@import './variable.scss';

%zoom-enter {
    transition: all 0.3s cubic-bezier(.28, .56, 0, 1.04);
}

%zoom-leave {
    transition: all 0.3s cubic-bezier(.28, .56, 0, 1.04);
}

.#{$prefixClass}-animate {

    &--fade-enter,
    &--fade-leave-to {
        opacity: 0;
    }

    &--scale-enter {
        opacity: 0;
        transform: scale(1.5) !important;
    }

    &--scale-leave-to {
        opacity: 0;
        transform: scale(0.7) !important;
    }

    /*上进上出*/
    &--tito-enter,
    &--tito-leave-to {
        opacity: 0;
        margin-top: -50px;
    }

    /*上进下出*/
    &--tibo-enter {
        opacity: 0;
        margin-top: -50px;
    }

    &--tibo-leave-to {
        opacity: 0;
        margin-top: 50px;
    }

    /*下进下出*/
    &--bibo-enter,
    &--bibo-leave-to {
        opacity: 0;
        margin-bottom: -50px;
    }

    /*左进左出*/
    &--lilo-enter,
    &--lilo-leave-to {
        opacity: 0;
        margin-left: -50px;
    }


    /*右进右出*/
    &--riro-enter,
    &--riro-leave-to {
        opacity: 0;
        margin-right: -50px;
    }

    /*左进右出*/
    &--liro-enter,
    &--liro-leave-to {
        opacity: 0;
        margin-left: -50px;
    }

    &--liro-leave-to {
        margin-right: -50px;
    }

    /*slide down*/
    &--slide-down-enter,
    &--slide-down-leave-to {
        opacity: 0;
        height: 0;
    }

    &--scale-enter-active {
        @extend %zoom-enter;
    }

    &--scale-leave-active {
        @extend %zoom-leave;
    }

    &--tito-leave-active,
    &--tito-enter-active,
    &--tibo-leave-active,
    &--tibo-enter-active,
    &--bibo-leave-active,
    &--bibo-enter-active,
    &--riro-leave-active,
    &--riro-enter-active,
    &--lilo-leave-active,
    &--lilo-enter-active,
    &--liro-leave-active,
    &--liro-enter-active,
    &--fade-leave-active,
    &--fade-enter-active,
    &--slide-down-leave-active,
    &--slide-down-enter-active {
        transition: all 0.3s ease;
    }

    $rotate:#{$prefixClass}-animate--rotate;
    $rotate-1turn:#{$prefixClass}-animate--rotate-1turn;
    $fade:#{$prefixClass}-animate--fade;

    @keyframes #{$rotate} {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(180deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes #{$rotate-1turn} {
        to {
            transform: rotate(1turn);
        }
    }

    @keyframes #{$fade} {
        0% {
            opacity: 0;
        }

        50% {
            opacity: .6;
        }

        100% {
            opacity: 1;
        }
    }
}
