@import './variable.scss';

.#{$prefixClass}-animate {

    &--fade-enter,
    &--fade-leave-active {
        opacity: 0;
    }

    /*上进上出*/
    &--tito-enter,
    &--tito-leave-active {
        opacity: 0;
        margin-top: -50px;
    }

    /*上进下出*/
    &--tibo-enter,
    &--tibo-leave-active {
        opacity: 0;
        margin-top: -50px;
    }

    &--tibo-leave-active {
        margin-top: 50px;
    }

    /*下进下出*/
    &--bibo-enter,
    &--bibo-leave-active {
        opacity: 0;
        margin-bottom: -50px;
    }

    /*左进左出*/
    &--lilo-enter,
    &--lilo-leave-active {
        opacity: 0;
        margin-left: -50px;
    }


    /*右进右出*/
    &--riro-enter,
    &--riro-leave-active {
        opacity: 0;
        margin-right: -50px;
    }

    /*左进右出*/
    &--liro-enter,
    &--liro-leave-active {
        opacity: 0;
        margin-left: -50px;
    }

    &--liro-leave-active {
        margin-right: -50px;
    }

    /*slide down*/
    &--slide-down-enter,
    &--slide-down-leave-active {
        opacity: 0;
        height: 0;
    }

    &--tito-leave-active,
    &--tito-enter-active,
    &--tibo-leave-active,
    &--tibo-enter-active,
    &--bibo-leave-active,
    &--bibo-enter-active,
    &--riro-leave-active,
    &--riro-enter-active,
    &--lilo-leave-active,
    &--lilo-enter-active,
    &--liro-leave-active,
    &--liro-enter-active,
    &--fade-leave-active,
    &--fade-enter-active,
    &--slide-down-leave-active,
    &--slide-down-enter-active {
        transition: all 0.5s ease;
    }
}
