@import './variable.scss';

.#{$prefixCls}-border-1px {
    position: relative;

    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        box-sizing: border-box;
        border: 1px solid $global-default-border-color;
        transform-origin: 0 0;
        pointer-events: none;
    }
}

.#{$prefixCls}-border-l {
    &::after {
        border-width: 0 0 0 1px;
    }
}

.#{$prefixCls}-border-r {
    &::after {
        border-width: 0 1px 0 0;
    }
}

.#{$prefixCls}-border-t {
    &::after {
        border-width: 1px 0 0;
    }
}

.#{$prefixCls}-border-b {
    &::after {
        border-width: 0 0 1px;
    }
}

.#{$prefixCls}-border-lr {
    &::after {
        border-width: 0 1px;
    }
}

.#{$prefixCls}-border-tb {
    &::after {
        border-width: 1px 0;
    }
}

.#{$prefixCls}-border-no-t {
    &::after {
        border-width: 0 1px 1px;
    }
}

.#{$prefixCls}-border-no-b {
    &::after {
        border-width: 1px 1px 0;
    }
}

.#{$prefixCls}-border-no-r {
    &::after {
        border-width: 1px 0 1px 1px;
    }
}

.#{$prefixCls}-border-no-l {
    &::after {
        border-width: 1px 1px 1px 0;
    }
}
