@import './variable.scss';

.#{$prefixClass}-al-h-l {
    justify-content: flex-start;
}

.#{$prefixClass}-al-h-c {
    justify-content: center;
}

.#{$prefixClass}-al-h-r {
    justify-content: flex-end;
}

.#{$prefixClass}-al-h-sb {
    justify-content: space-between;
}

.#{$prefixClass}-al-v-t {
    align-items: flex-start;
}

.#{$prefixClass}-al-v-m {
    align-items: center;
}

.#{$prefixClass}-al-v-b {
    align-items: flex-end;
}

.#{$prefixClass}-al-v-sb {
    align-items: space-between;
}

.#{$prefixClass}-al-v-sa {
    align-items: space-around;
}

.#{$prefixClass}-al-v-st {
    align-items: stretch;
}

.#{$prefixClass}-al-lt {
    justify-content: flex-start;
    align-items: flex-start;
}

.#{$prefixClass}-al-lm {
    justify-content: flex-start;
    align-items: center;
}

.#{$prefixClass}-al-lb {
    justify-content: flex-start;
    align-items: flex-end;
}

.#{$prefixClass}-al-lsb {
    justify-content: flex-start;
    align-items: space-between;
}

.#{$prefixClass}-al-lsa {
    justify-content: flex-start;
    align-items: space-around;
}

.#{$prefixClass}-al-lst {
    justify-content: flex-start;
    align-items: stretch;
}

.#{$prefixClass}-al-ct {
    justify-content: center;
    align-items: flex-start;
}

.#{$prefixClass}-al-cm {
    justify-content: center;
    align-items: center;
}

.#{$prefixClass}-al-cb {
    justify-content: center;
    align-items: flex-end;
}

.#{$prefixClass}-al-csb {
    justify-content: center;
    align-items: space-between;
}

.#{$prefixClass}-al-csa {
    justify-content: center;
    align-items: space-around;
}

.#{$prefixClass}-al-cst {
    justify-content: center;
    align-items: stretch;
}

.#{$prefixClass}-al-rt {
    justify-content: flex-end;
    align-items: flex-start;
}

.#{$prefixClass}-al-rm {
    justify-content: flex-end;
    align-items: center;
}

.#{$prefixClass}-al-rb {
    justify-content: flex-end;
    align-items: flex-end;
}

.#{$prefixClass}-al-rsb {
    justify-content: flex-end;
    align-items: space-between;
}

.#{$prefixClass}-al-rsa {
    justify-content: flex-end;
    align-items: space-around;
}

.#{$prefixClass}-al-rsa {
    justify-content: flex-end;
    align-items: stretch;
}

.#{$prefixClass}-al-sbt {
    justify-content: space-between;
    align-items: flex-start;
}

.#{$prefixClass}-al-sbm {
    justify-content: space-between;
    align-items: center;
}

.#{$prefixClass}-al-sbb {
    justify-content: space-between;
    align-items: flex-end;
}

.#{$prefixClass}-al-sat {
    justify-content: space-around;
    align-items: flex-start;
}

.#{$prefixClass}-al-sac {
    justify-content: space-around;
    align-items: center;
}

.#{$prefixClass}-al-sbb {
    justify-content: space-around;
    align-items: flex-end;
}

.#{$prefixClass}-flex-dir-row {
    flex-direction: row;
}

.#{$prefixClass}-flex-dir-row-re {
    flex-direction: row-reverse;
}

.#{$prefixClass}-flex-dir-column {
    flex-direction: column;
}

.#{$prefixClass}-flex-dir-column-re {
    flex-direction: column-reverse;
}

.#{$prefixClass}-flex-basis {
    flex: 0 0 100px;
}

.#{$prefixClass}-inline-flex {
    display: inline-flex;
}
