@import './variable.scss';


.#{$prefixCls}-flex {
    display: flex;

    &--inline {
        display: inline-flex;
    }

    &--none {
        flex: none;
    }

    &--row {
        flex-direction: row;
    }

    &--row-reverse {
        flex-direction: row-reverse;
    }

    &--column {
        flex-direction: column;
    }

    &--column-reverse {
        flex-direction: column-reverse;
    }

    &--wrap {
        flex-wrap: wrap;
    }

    &--nowrap {
        flex-wrap: nowrap;
    }

    &--wrap-reverse {
        flex-wrap: wrap-reverse;
    }

    &-item {
        flex: 1;
        text-align: center;
    }

    &--start-start {
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }

    &--start-center {
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    }

    &--start-end {
        justify-content: flex-start;
        align-items: flex-end;
        align-content: flex-end;
    }

    &--start-between {
        justify-content: flex-start;
        align-content: space-between;
    }

    &--start-around {
        justify-content: flex-start;
        align-content: space-around;
    }

    &--start-baseline {
        justify-content: flex-start;
        align-items: baseline;
    }

    &--start-stretch {
        justify-content: flex-start;
        align-items: stretch;
    }

    &--center-start {
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
    }

    &--center-center {
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    &--center-end {
        justify-content: center;
        align-items: flex-end;
        align-content: flex-end;
    }

    &--center-between {
        justify-content: center;
        align-items: space-between;
        align-content: space-between;
    }

    &--center-around {
        justify-content: center;
        align-items: space-around;
        align-content: space-around;
    }

    &--center-baseline {
        justify-content: center;
        align-items: baseline;
    }

    &--center-stretch {
        justify-content: center;
        align-items: stretch;
    }

    &--end-start {
        justify-content: flex-end;
        align-items: flex-start;
        align-content: flex-start;
    }

    &--end-center {
        justify-content: flex-end;
        align-items: center;
        align-content: center;
    }

    &--end-end {
        justify-content: flex-end;
        align-items: flex-end;
        align-content: flex-end;
    }

    &--end-between {
        justify-content: flex-end;
        align-items: space-between;
        align-content: space-between;
    }

    &--end-around {
        justify-content: flex-end;
        align-items: space-around;
        align-content: space-around;
    }

    &--end-baseline {
        justify-content: flex-end;
        align-items: baseline;
    }

    &--end-stretch {
        justify-content: flex-end;
        align-items: stretch;
    }

    &--between-start {
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
    }

    &--between-center {
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    &--between-end {
        justify-content: space-between;
        align-items: flex-end;
        align-items: flex-end;
    }

    &--between-between {
        justify-content: space-between;
        align-items: space-between;
        align-content: space-between;
    }

    &--between-around {
        justify-content: space-between;
        align-items: space-around;
        align-content: space-around;
    }

    &--between-baseline {
        justify-content: space-between;
        align-items: baseline;
    }

    &--betwwen-stretch {
        justify-content: space-between;
        align-items: stretch;
    }

    &--around-start {
        justify-content: space-around;
        align-items: flex-start;
        align-content: flex-start;
    }

    &--around-center {
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }

    &--around-end {
        justify-content: space-around;
        align-items: flex-end;
        align-content: flex-end;
    }

    &--around-between {
        justify-content: space-around;
        align-items: space-between;
        align-content: space-between;
    }

    &--around-around {
        justify-content: space-around;
        align-items: space-around;
        align-content: space-around;
    }

    &--around-baseline {
        justify-content: space-around;
        align-items: baseline;
    }


    &--around-stretch {
        justify-content: space-around;
        align-items: stretch;
    }
}
