$prefix:busy !default;
$prefixClass: busy !default;
/* Color */
$color-blue: #478df5 !default;
$color-orange: #ff6331 !default;
$color-white: #fff !default;
$color-gray: #d9d9d9 !default;
$border-color: #c8c8cd !default;
$success-color: #4caf50 !default;
$error-color: #f44336 !default;
$warning-color: #ffc107 !default;
$primary-color: #478df5 !default;

/** global **/
$global-default-border-color: #e7e7e7 !default;

/* Button Component */
$button-default-border-radius: 4px !default;

$button-default-background-color: #f8f8f8 !default;
$button-default-text-color: #333 !default;
$button-default-border-color: #999 !default;

$button-primary-background-color: #478df5 !default;
$button-primary-border-color: #478df5 !default;
$button-primary-text-color: #ffffff !default;

$button-warning-background-color: #ff6331 !default;
$button-warning-border-color: #ff6331 !default;
$button-warning-text-color: #ffffff !default;

$button-normal-height: 36px !default;
$button-large-height: 48px !default;
$button-small-height: 24px !default;
$button-size-small-height: 24px !default;
$button-normal-font-size:16px !default;
$button-small-font-size:14px !default;
$button-large-font-size: 22px !default;


/* Field Component */
$field-value-color: #888888 !default;

/** Message Component **/
$message-info-icon-color: #478df5 !default;
$message-success-icon-color: #4caf50 !default;
$message-wraning-icon-color: #ffc107 !default;
$message-error-icon-color: #f44336 !default;

/** Dialog Component **/
$dialog-default-button-text-color: #0076ff !default;
$dialog-default-button-font-size: 18px !default;
$dialog-default-content-text-color: #030303 !default;
$dialog-default-content-font-size: 14px !default;
$dialog-default-button-height: 48px !default;
$dialog-dfault-width: 84% !default;
$dialog-dfault-height: 160px !default;
$dialog-default-z-index: 1000 !default;


/** Swipe Component **/
$swipe-active-dot-color: #fff !default;
$swipe-normal-dot-color: #d9d9d9 !default;

/** progress Component **/
$progress-background-color: #d9d9d9 !default;
$progress-line-color: #ff6331 !default;
$progress-line-width: 6px !default;

/*** toast component **/

$toast-default-font-size:16px !default;
$toast-default-z-index:1000 !default;
