<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>busy Checkbox demo</title>
    <link rel="stylesheet" href="../../dist/busyui.css" />
    <script src="../vue.js"></script>
    <script src="../../dist/busyui.js"></script>
    <style>
        * {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        .app {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            padding: 20px 0;
        }

        li {
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>

<body>
    <div id="app" class="app">
        <busy-list>
            <busy-list-item @click="()=>this.isChecked=!isChecked">
                <busy-checkbox v-model="isChecked">
                    {{isChecked?'选中':'取消'}} <span style="color:red">{{isChecked}}</span>
                </busy-checkbox>
            </busy-list-item>
        </busy-list>

        <busy-flexbox>
            <busy-flexitem height="40" class="busy-flex busy-flex--center-center" v-for="item in list">
                <busy-checkbox color="orange" v-model="fruits" :value="item.value" :disabled="item.disabled">{{item.text}}</busy-checkbox>
            </busy-flexitem>
        </busy-flexbox>

        <busy-list height="120">
            <busy-list-item v-for="book in books" class="busy-flex busy-flex--start-center" @click="toggle(book)">
                <busy-checkbox width="20" :ref="`abc-${book.id}`" height="20" border-radius="50%" color="#05d" v-model="theBook" :value="book.id" :disabled="book.disabled">
                    {{book.name}}
                </busy-checkbox>
            </busy-list-item>
        </busy-list>
    </div>

    <script>
        window.addEventListener('DOMContentLoaded', function () {
            var vm = new Vue({
                el: '#app',
                props: {

                },
                data() {
                    return {
                        isChecked: '',
                        fruits: [{
                            id: 'peach'
                        }],
                        theBook: ['1111'],
                        list: [{
                            value: {
                                id: 'apple'
                            },
                            text: '苹果',
                            disabled: true
                        }, {
                            value: {
                                id: 'peach'
                            },
                            text: '桃子'
                        }, {
                            value: {
                                id: 'grape'
                            },
                            text: '葡萄'
                        }],
                        books: [{
                            id: '1111',
                            name: 'Node.js权威指南'
                        }, {
                            id: '2222',
                            name: 'JAVA编程思想'
                        }, {
                            id: '333',
                            name: '设计模式与算法'
                        }]
                    }

                },
                watch: {
                    isChecked(val) {
                        console.log(arguments)
                        this.showString(val)
                    },
                    fruits(val) {
                        console.log(arguments)
                        this.showString(val)
                    },
                    theBook(val) {
                        this.showString(val)
                    }
                },
                methods: {
                    click1($event) {
                        $event.preventDefault();
                        console.log("你点击了一个连接")
                    },
                    click2($event) {
                        $event.preventDefault();
                        console.log("你点击了另一个连接")
                    },
                    toggle(book) {
                        let i = this.theBook.indexOf(book.id)
                        i > -1 ? this.theBook.splice(i, 1) : this.theBook.push(book.id)
                    },
                    showString(val) {
                        this.$busyui.Toast.show(JSON.stringify(val))
                    }
                }
            });
        }, false);
    </script>
</body>

</html>
