<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>wui Field demo</title>
    <link rel="stylesheet" href="../../dist/wui.css" />
    <script src="../vue.js"></script>
    <script src="../../dist/wui.js"></script>
    <script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
    <script src="//cdn.bootcss.com/numbro/1.9.3/numbro.min.js"></script>
    <style>
        html,
        body {
            padding: 0;
            margin: 0;
        }
        
        body {
            color: #666;
            font-size: 14px;
            background: #f2f5f7;
        }
        
        section {
            margin: 40px 0;
            position: relative;
        }
        
        .box::after {
            border-color: #ccc;
        }
        
        .wrap-box {
            background: #fff;
            margin-top: 12px;
        }
        
        .wrap-box:after {
            border-color: #d2d2d2;
        }
        
        .inp-row {
            background: #fff;
            margin-left: 12px;
        }
        
        .inp-row:last-child:after {
            border: 0;
        }
        
        .row::after {
            border-color: #ccc;
        }
        
        .sub-title {
            color: #d2d2d2;
            font-size: 10px;
        }
        .waiting{
            background: #c0c0c0;
            width: 100%;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size:12px;
        }
    </style>
</head>

<body>
    <div class="wrap">
        <div id="app" class="app">

            <section>
            <article class="wrap-box wui-border-1px wui-border-tb">
                <w-field label-align="right" class="inp-row" :error="nameError" v-model="userName" label="用户名" placeholder="请输入用户名" v-on:icon-click="onClick"></w-field>
                <w-field label-align="right" class="inp-row" v-model="password" label="密码" placeholder="请输入密码" type="password"></w-field>
                <w-field label-align="right" class="inp-row" :error="nameError" maxlength="20" v-model="intro" label="自我介绍" placeholder="自我介绍" type="textarea" rows="4"></w-field>
                <w-field label-align="right" class="inp-row" v-model="income" format="numberic" label="年收入" placeholder="年收入xxx,xxx元" type="text"></w-field>
                <w-field label-align="right" class="inp-row" v-model="mIncome" :en-format="enFormatMoney" :de-format="deFormatMoney" label="月收入" placeholder="月收入xxx,xxx元" type="text"></w-field>
                <w-field label-align="right" class="inp-row" v-model="d" :en-format="enFormatDate" :de-format="deFormatDate"  label="日期" placeholder="YYYY-MM-DD" type="text"></w-field>
                <w-field label-align="right" class="inp-row" v-model="f" :format="format"  label="格式化" placeholder="xxxx-xx-xxx" type="text"></w-field>
                <w-field label-align="right" class="inp-row" v-model="card" maxlength="19" format="bankcard"  label="卡号" placeholder="工资卡号" type="text"></w-field>
                <w-field label-align="right" :readonly="true" class="inp-row" v-model="email" label="邮箱" placeholder="请输入正确的邮箱地址"></w-field>
            </article>
            <article class="wrap-box wui-border-1px wui-border-tb">
                <w-field label-width="100" :show-icon="true" class="inp-row" v-on:icon-click="onClick">
                    <w-row slot="label">
                        <w-cell width="24">
                            <w-icon type="questionfill" fill="#478df5"></w-icon>
                        </w-cell>
                        <w-cell>我的照片</w-cell>
                    </w-row>
                    <div slot="content" class="sub-title">记录我的生活足迹</div>
                </w-field>
                <w-field label-width="100" height="30"  :show-icon="true" class="inp-row" v-on:icon-click="onClick">
                    <w-row slot="label">
                        <w-cell width="24">
                            <w-icon type="questionfill" fill="#478df5"></w-icon>
                        </w-cell>
                        <w-cell>我的照片</w-cell>
                    </w-row>
                    <div slot="content" class="sub-title">记录我的生活足迹</div>
                </w-field>
                <w-field label-width="100"  :show-icon="true" class="inp-row" v-on:icon-click="onClick">
                    <w-row slot="label">
                        <w-cell width="24">
                            <w-icon type="questionfill" fill="#478df5"></w-icon>
                        </w-cell>
                        <w-cell>我的照片</w-cell>
                    </w-row>
                    <div slot="content" class="sub-title">记录我的生活足迹</div>
                </w-field>
            </article>
            <article class="wrap-box wui-border-1px wui-border-tb">
                <w-field label-width="70" :maxlength="codeMax" icon-vertical="stretch" v-model="code" icon-align="right" icon-width="100" :show-icon="true" placeholder="请输入验证码" class="inp-row" v-on:icon-click="valiCode">
                    <w-row slot="label">
                        <w-cell width="24">
                            <w-icon type="info" fill="#478df5"></w-icon>
                        </w-cell>
                        <w-cell>验证码</w-cell>
                    </w-row>
                    <w-button slot="icon" :block="true" type="primary" :sharp="true" height="auto">获取验证码</w-button>
                </w-field>
            </article>
            <article class="wrap-box wui-border-1px wui-border-tb">
                <w-field label-width="70" icon-vertical="stretch" :maxlength="codeMax" icon-align="right" v-model="code" icon-width="100" :show-icon="true" placeholder="请输入验证码" label="验证码" class="inp-row">
                    <w-row slot="label">
                        <w-cell width="24">
                            <w-icon type="info" fill="#478df5"></w-icon>
                        </w-cell>
                        <w-cell>验证码</w-cell>
                    </w-row>
                    <div slot="icon" class="waiting">59秒后重新获取</div>
                </w-field>
            </article>
        </section>
        </div>
    </div>
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            var vm = new Vue({
                el: '#app',
                
                data() {
                    return {
                        userName: "suduki",
                        password: "",
                        intro: "",
                        income: 207860,
                        mIncome: 7860.678,
                        card: 4367421223458762,
                        d: new Date,
                        f: 'AAAABBCCC',
                        codeMax: 5,
                        format:[[4,2,3],'-'],
                        email: "123456789@wanda.cn",
                        nameError: "",
                        code:'123'
                    }
                },
                methods: {
                    onClick() {
                        this.$wui.Toast.show('跳转相关页面？')
                    },
                    valiCode() {
                        this.$wui.Toast.show('您的验证码是3786')
                    },
                    changeIncome(n){
                        this.inCome = n;
                    },
                    deFormatMoney(val){
                        return numbro().unformat(val);
                    },
                    enFormatMoney(val){
                        return numbro(val).format('0,0.000');
                    },
                    deFormatDate(val){
                        return moment(val||new Date).format('YYYY-MM-DD');
                    },
                    enFormatDate(val){
                        return moment(val||new Date).format('YYYY-MM-DD');
                    }
                },
                watch:{
                    userName(val){
                        if (val.indexOf('?')>=0){
                            this.nameError = '用户名含有非法词';
                        }else{
                            this.nameError = '';
                        }
                    }
                }
            });
        }, false);
    </script>
    <script type="text/vue" id="tpl">
        
    </script>
</body>

</html>