<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>busy toast demo</title>
    <link rel="stylesheet" href="../../dist/busyui.css" />
    <script src="../vue.js"></script>
    <script src="../../dist/busyui.js"></script>
    <style type="text/css">
        * {
            padding: 0;
            margin: 0;
        }

        html,
        body {
            height: 100%;
            padding: 0;
            margin: 0;
            font-size: 14px;

        }

        .wrap,
        .app {
            height: 100%;
            width: 100%;
            padding: 10px 0 0;
            box-sizing: border-box;
        }

        .t1 {
            font-size: 16px;
            font-weight: 500;
            line-height: 32px;
        }

        .t2 {
            font-size: 12px;
            color: #9a9a9a;
            line-height: 24px;
        }
    </style>
</head>

<body>
    <section class="wrap">
        <section id="app" class="app">
            <div>{{currentSeason}}</div>
            <div>{{season}}{{month}}</div>

            <busy-flexbox direction="column" width="90%" style="margin:0 auto">
                <busy-flexitem>
                    <busy-button size="small" :block="true" @click="showPicker()">
                        单列选择{{word}}
                    </busy-button>
                </busy-flexitem>
                <busy-flexitem style="margin-top: 12px;">
                    <busy-button size="small" :block="true" @click="show1Change(true)">
                        多列选择
                    </busy-button>
                </busy-flexitem>
                <busy-flexitem style="margin-top: 12px;">
                    <busy-button size="small" :block="true" @click="showPicker(2)">
                        多列选择子组件
                    </busy-button>
                </busy-flexitem>
            </busy-flexbox>

            <busy-picker :need-confirm="true" v-model="word" :is-show="show" @visiable="changeShow" :columns="[columns[0]]"></busy-picker>

            <busy-picker :is-show="show1" @visiable="show1Change">
                <busy-picker-wheel :datas="cols1" v-model="season"></busy-picker-wheel>
                <busy-picker-wheel :datas="cols3" v-model="month"></busy-picker-wheel>
            </busy-picker>

            <busy-picker v-model="currentSeason" :is-show="show2" @visiable="function(val){this.show=val}" :columns="[cols1,cols2]"></busy-picker>
        </section>
    </section>

    <script>
        var vm = new Vue({
            el: '#app',
            data: function () {
                return {
                    season: '夏',
                    month: '5月',
                    show: false,
                    show1: false,
                    show2: false,
                    rst: ['三', '必'],
                    currentSeason: ['春', '2月'],
                    word: '三',
                    columns: [
                        '一,二,三,四,五,六,七,八,九,十,十一,十二'.split(','),
                        '它必须遍历原型链并搜索一个名称为空洞索引的属性这需要花费更多时间'.split(''),
                        [{
                            label: '001',
                            value: '选项一'
                        }, {
                            label: '002',
                            value: '选项二'
                        }, {
                            label: '003',
                            value: '选项三'
                        }]
                    ],
                    seasons: [{
                        label: '春',
                        months: ['1月', '2月', '3月']
                    }, {
                        label: '夏',
                        months: ['4月', '5月', '6月']
                    }, {
                        label: '秋',
                        months: ['7月', '8月', '9月']
                    }, {
                        label: '冬',
                        months: ['10月', '11月', '12月']
                    }]
                }
            },

            watch: {
                season(val) {
                    this.month = this.cols3[0]
                },
                datas() {
                    console.log('........')
                    this.init()
                },
                currentSeason(val) {
                    console.log(val)
                }
            },

            computed: {
                cols1() {
                    return this.seasons.map(season => season.label)
                },
                cols2() {
                    return this.seasons.find((season) => season.label === this.currentSeason[0]).months
                },
                cols3() {
                    return this.seasons.find((season) => season.label === this.season).months
                }
            },

            methods: {
                togglePicker() {
                    this.show = !this.show
                },
                showPicker(i) {
                    this['show' + (i || '')] = true
                },
                changeShow(val) {
                    this.show = val
                },
                show1Change(val) {
                    this.show1 = val
                }
            }
        });
    </script>
</body>

</html>
