<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>xui toast demo</title>
    <link rel="stylesheet" href="../../dist/busyui.css" />
    <script src="../vue.js"></script>
    <script src="../../dist/busyui.js"></script>
    <style>
        .abcd {
            width: 85px;
            height: 85px;
        }

        .box {
            margin: 20px;
            padding: 20px;
            box-sizing: border-box;
            border: 1px solid orange;
        }
    </style>
</head>

<body>
    <section class="wrap">
        <section id="app" class="app">
            <div @click="handle">
                <busy-progress height="30" :value="val" :track-width="stroke" line-color="green">
                    <span slot="end" v-if="val<100">{{val}}%</span>
                    <busy-icon v-else name="yes" slot="end" color="green" />
                </busy-progress>
                <p></p>
                <busy-progress direction="1" class="abcd" line-color="green" :value="val" :track-width="stroke" type="ring">
                    <span v-if="val<100">{{val}}%</span>
                    <busy-icon v-else name="yes" color="green" width="36" height="36" />
                </busy-progress>
                <p></p>
                <busy-progress :value="val" :track-width="5" track-color="#eeeeee" line-color="linear-gradient(to right, #0d5 4%, #05d 88%)"></busy-progress>

                <div class="box">
                    <busy-progress-line height="28" :value="val" line-color="linear-gradient(to right, #0d5 4%, #05d 88%)">
                        <span slot="end" v-if="val<100">{{val}}%</span>
                        <busy-icon v-else name="yes" slot="end" color="green" />
                    </busy-progress-line>
                </div>
            </div>
        </section>
    </section>

    <script>
        var vm = new Vue({
            el: '#app',
            data() {
                return {
                    val: 0,
                    stroke: 2
                }
            },
            methods: {
                handle: function () {
                    let interval = setInterval(() => {
                        this.val++
                        if (this.val == 100) {
                            clearInterval(interval)
                        } else if (this.val > 100) {
                            this.val = 0
                        }
                    }, 10)

                }
            }
        });
    </script>
</body>

</html>
