<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>xui toast demo</title>
    <link rel="stylesheet" href="../../dist/bee.css" />
    <script src="../vue.js"></script>
    <script src="../../dist/bee.js"></script>
    <style>
        * {
            padding: 0;
            margin: 0;
        }
    </style>
</head>

<body>
    <section class="wrap">
        <section id="app" class="app">
            <bee-list>
                <bee-list-item>
                    <bee-select width="100%" height="24" v-model="selectedWorkder" slot="content" :options="wokers" placeholder="请选择wokers"></bee-select>
                </bee-list-item>

                <bee-list-item>
                    <bee-select width="100%" height="24" v-model="selectedOpt" slot="content" placeholder="请选择个人信息">
                        <bee-option :value="option" v-for="option in options">{{option.label}}</bee-option>
                    </bee-select>
                </bee-list-item>
            </bee-list>

        </section>
    </section>

    <script>
        var vm = new Vue({
            el: '#app',
            data() {
                return {
                    options: [{
                        val: 'a',
                        label: '张三'
                    }, {
                        val: 'b',
                        label: '李四'
                    }],
                    wokers: ['Lily', 'Lucy', 'Tom', 'Sophia'],
                    selectedOpt: null,
                    selectedWorkder: 'Lily'
                }
            },
            watch: {
                selectedWorkder(val, oldVal) {
                    console.log(val)
                },
                selectedOpt(val, oldVal) {
                    console.log(val)
                }
            },
            methods: {

            }
        });
    </script>
</body>

</html>
